body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f9ff;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  border: 1px solid;
  border-radius: 32px;
  margin: auto;
  width: 1000px;
  min-height: 670px;
  background-color: white;
  position: absolute;
  top: 100px;
  height: max-content;
  padding-bottom: 100px;
  flex-direction: column;
  align-items: center;
}
.head-section {
  width: 600px;
  margin: 75px auto;
}
.title {
  font-family: sans-serif;
}
.controls-block {
  width: 600px;
  height: 60px;
  position: relative;
}
.input {
  width: 100%;
  height: 100%;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  font-size: 24px;
}

.confirm-button {
  font-weight: 200;
  height: 44px;
  width: 85px;
  position: absolute;
  top: 11px;
  right: 0px;
  background-color: rgb(121, 180, 43);
  border: 1px solid #2d70fd;
  color: white;
  border-radius: 5px;
}

.confirm-button:hover {
  cursor: pointer;
}

.add-button {
  font-weight: 200;
  height: 44px;
  width: 85px;
  position: absolute;
  top: 11px;
  right: 0;
  background-color: #2d70fd;
  border: 1px solid #2d70fd;
  color: white;
  border-radius: 5px;
}

.add-button:hover {
  cursor: pointer;
}

.nonVis {
  display: none;
}

.editBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(121, 180, 43);
  color: white;
  width: 38px;
  height: 23px;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 61px;
}

.editBtn:hover {
  cursor: pointer;
  scale: 0.9;
  transition: 0.5s;
}

.tasks-wrappper {
  width: 600px;
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 50px;
  margin-bottom: 30px;
}

.task-item {
  border: 1px solid #eeeeee;
  border-radius: 10px;
  gap: 20px;
  align-items: center;
  display: flex;
  position: relative;
  margin-bottom: 10px;
  padding: 5px;
}

.task-item__indicator {
  cursor: pointer;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  border-radius: 50%;
}
.checkbox {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.label {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.checkbox:checked + .label {
  background-image: url(/public/icons8-checkmark.svg);
  background-position: center;
}
.task-item__title {
  font-size: 24px;
  min-width: 400px;
}
.task-itemTitleDone {
  color: gray;
  text-decoration: line-through;
  min-width: 400px;
}

.task-item__title:hover {
  color: #2d70fd;
  cursor: pointer;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(213, 67, 67);
  color: white;
  width: 23px;
  height: 23px;
  border: none;
  border-radius: 50%;
  position: absolute;
  right: 30px;
}

.deleteBtn:hover {
  cursor: pointer;
}

.delAllBtn {
  position: absolute;
  right: 200px;
  background: transparent;
  border: transparent;
  color: gray;
  font-size: 22px;
}

.delAllBtn:hover {
  color: black;
  cursor: pointer;
}

.counter {
  position: absolute;
  margin: 0;
  color: gray;
}

.counter:hover {
  color: black;
  cursor: pointer;
}
/* modal window */

.modal {
  width: 100%;
  height: 100%;
  background-color: #000000cc;
  z-index: 1;
  display: none;
  justify-content: center;
  align-items: center;
}

.openModal {
  display: flex;
}

.modal-window {
  background-color: white;
  width: 500px;
  height: 200px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-title {
  font-family: sans-serif;
}

.button {
  color: white;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  border: 0.5px solid;
  cursor: pointer;
}
.yesButton {
  background-color: rgb(121, 180, 43);
}
.noButton {
  background-color: rgb(222, 47, 47);
}

.changer-buttons {
  background: transparent;
  border: transparent;
  color: gray;
  font-size: 22px;
  margin: 0 20px;
}

.changer-buttons:hover {
  cursor: pointer;
  color: black;
}
